In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("Shark Tank India.csv")

In [5]:
df.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Episode Title,Anchor,Industry,...,Invested Guest Name,All Guest Names,Namita Present,Vineeta Present,Anupam Present,Aman Present,Peyush Present,Ritesh Present,Amit Present,Guest Present
0,1,BluePineFoods,1,1,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
1,1,BoozScooters,1,2,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Vehicles/Electrical Vehicles,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
2,1,HeartUpMySleeves,1,3,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Beauty/Fashion,...,NaN,Ashneer Grover,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
3,1,TagzFoods,2,4,20-Dec-21,4-Feb-22,21-Dec-21,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Food and Beverage,...,Ashneer Grover,Ashneer Grover,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
4,1,HeadAndHeart,2,5,20-Dec-21,4-Feb-22,21-Dec-21,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Children/Education,...,NaN,Ashneer Grover,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0

In [6]:
df.dtypes

Season Number       int64
Startup Name       object
Episode Number      int64
Pitch Number        int64
Season Start       object
                   ...
Aman Present      float64
Peyush Present    float64
Ritesh Present    float64
Amit Present      float64
Guest Present     float64
Length: 80, dtype: object

In [7]:
df.head()
df.info()
df.describe()
df.isnull().sum()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              634 non-null    int64
 1   Startup Name               634 non-null    object
 2   Episode Number             634 non-null    int64
 3   Pitch Number               634 non-null    int64
 4   Season Start               634 non-null    object
 5   Season End                 478 non-null    object
 6   Original Air Date          603 non-null    object
 7   Episode Title              634 non-null    object
 8   Anchor                     634 non-null    object
 9   Industry                   634 non-null    object
 10  Business Description       634 non-null    object
 11  Company Website            618 non-null    object
 12  Started in                 456 non-null    float64
 13  Number of Presenters       634 non-null    int64
 14  Male Presenters            568 non-null    float64
 15  Female Presenters          382 non-null    float64
 16  Transgender Presenters     3 non-null      float64
 17  Couple Presenters          634 non-null    int64
 18  Pitchers Average Age       634 non-null    object
 19  Pitchers City              626 non-null    object
 20  Pitchers State             629 non-null    object
 21  Yearly Revenue             343 non-null    float64
 22  Monthly Sales              287 non-null    float64
 23  Gross Margin               162 non-null    float64
 24  Net Margin                 93 non-null     float64
 25  EBITDA                     81 non-null     float64
 26  Cash Burn                  97 non-null     object
 27  SKUs                       43 non-null     float64
 28  Has Patents                62 non-null     object
 29  Bootstrapped               114 non-null    object
 30  Part of Match off          6 non-null      object
 31  Original Ask Amount        634 non-null    float64
 32  Original Offered Equity    634 non-null    float64
 33  Valuation Requested        634 non-null    float64
 34  Received Offer             634 non-null    int64
 35  Accepted Offer             423 non-null    float64
 36  Total Deal Amount          360 non-null    float64
 37  Total Deal Equity          360 non-null    float64
 38  Total Deal Debt            75 non-null     float64
 39  Debt Interest              58 non-null     float64
 40  Deal Valuation             359 non-null    float64
 41  Number of Sharks in Deal   360 non-null    float64
 42  Deal Has Conditions        37 non-null     object
 43  Royalty Percentage         36 non-null     float64
 44  Royalty Recouped Amount    36 non-null     float64
 45  Advisory Shares Equity     11 non-null     float64
 46  Namita Investment Amount   114 non-null    float64
 47  Namita Investment Equity   114 non-null    float64
 48  Namita Debt Amount         21 non-null     float64
 49  Vineeta Investment Amount  89 non-null     float64
 50  Vineeta Investment Equity  89 non-null     float64
 51  Vineeta Debt Amount        15 non-null     float64
 52  Anupam Investment Amount   102 non-null    float64
 53  Anupam Investment Equity   102 non-null    float64
 54  Anupam Debt Amount         9 non-null      float64
 55  Aman Investment Amount     141 non-null    float64
 56  Aman Investment Equity     141 non-null    float64
 57  Aman Debt Amount           19 non-null     float64
 58  Peyush Investment Amount   104 non-null    float64
 59  Peyush Investment Equity   104 non-null    float64
 60  Peyush Debt Amount         13 non-null     float64
 61  Ritesh Investment Amount   52 non-null     float64
 62  Ritesh Investment Equity   52 non-null     float64
 63  Ritesh Debt Amount         14 non-null     float64
 64  Amit Investment Amount     35 non-null     float64
 65  Amit Investment Equity     35 non-null     float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    63 non-null     float64
 68  Guest Investment Equity    63 non-null     float64
 69  Guest Debt Amount          6 non-null      float64
 70  Invested Guest Name        63 non-null     object
 71  All Guest Names            311 non-null    object
 72  Namita Present             495 non-null    float64
 73  Vineeta Present            428 non-null    float64
 74  Anupam Present             548 non-null    float64
 75  Aman Present               556 non-null    float64
 76  Peyush Present             388 non-null    float64
 77  Ritesh Present             138 non-null    float64
 78  Amit Present               137 non-null    float64
 79  Guest Present              311 non-null    float64
dtypes: float64(55), int64(6), object(19)
memory usage: 396.4+ KB

Season Number       4
Startup Name      634
Episode Number     53
Pitch Number      634
Season Start        4
                 ...
Aman Present        1
Peyush Present      1
Ritesh Present      1
Amit Present        1
Guest Present       2
Length: 80, dtype: int64

In [10]:
df.isnull().sum()

Season Number       0
Startup Name        0
Episode Number      0
Pitch Number        0
Season Start        0
                 ...
Aman Present       78
Peyush Present    246
Ritesh Present    496
Amit Present      497
Guest Present     323
Length: 80, dtype: int64

In [9]:
industry_investment = df.groupby('Industry')['Total Deal Amount'].sum().sort_values(ascending=False)
industry_investment.head(10)

Industry
Beauty/Fashion             5938.00000
Food and Beverage          5367.60005
Medical/Health             3383.00101
Technology/Software        2887.00000
Manufacturing              1631.00000
Business Services          1365.00000
Lifestyle/Home             1140.00000
Fitness/Sports/Outdoors    1105.00000
Children/Education         1086.00000
Green/CleanTech             685.01250
Name: Total Deal Amount, dtype: float64

In [11]:
null_count = df['Total Deal Amount'].isnull().sum()
print(f"Number of null values in 'Total Deal Amount': {null_count}")

Number of null values in 'Total Deal Amount': 274

In [13]:
# Calculate the mean of 'Total Deal Amount' excluding nulls
mean_value = df['Total Deal Amount'].mean()

# Fill null values with the mean
df['Total Deal Amount'].fillna(mean_value)

# Check if nulls are removed
print(df['Total Deal Amount'].isnull().sum())

0

In [14]:
industry_investment = df.groupby('Industry')['Total Deal Amount'].sum().sort_values(ascending=False)
industry_investment.head(10)

Industry
Beauty/Fashion                  9807.723385
Food and Beverage               9748.418977
Technology/Software             4493.300273
Medical/Health                  4478.205742
Manufacturing                   3529.354868
Business Services               3117.327571
Lifestyle/Home                  3038.354868
Children/Education              1743.122839
Fitness/Sports/Outdoors         1397.054595
Vehicles/Electrical Vehicles    1221.136488
Name: Total Deal Amount, dtype: float64

In [15]:
# Convert Pitchers Average Age to numeric (cleaning)
df['Pitchers Average Age'] = pd.to_numeric(df['Pitchers Average Age'], errors='coerce')

# Gender-based investment
gender_success = df.groupby(['Male Presenters', 'Female Presenters'])['Total Deal Amount'].sum()

# Age vs Deal
age_vs_deal = df.groupby('Pitchers Average Age')['Total Deal Amount'].mean().dropna().sort_values(ascending=False)

In [16]:
funding_success = df[['Valuation Requested', 'Deal Valuation', 'Total Deal Amount']]
funding_success.describe()

       Valuation Requested  Deal Valuation  Total Deal Amount
count           634.000000      359.000000         634.000000
mean           5299.153323     2479.379763          73.013649
std            8253.239217     3342.992929          41.667775
min               0.000000        0.000000           0.000000
25%            1250.000000      500.000000          50.000000
50%            3000.000000     1250.000000          73.013649
75%            6000.000000     2992.537313          73.013649
max          120000.000000    25000.000000         500.000000

In [17]:
shark_columns = [col for col in df.columns if 'Investment Amount' in col]
shark_investments = df[shark_columns].sum().sort_values(ascending=False)

In [19]:
selected_cols = [
    'Startup Name', 'Industry', 'Total Deal Amount', 'Valuation Requested',
    'Deal Valuation', 'Pitchers Average Age', 'Male Presenters', 'Female Presenters',
    'Original Ask Amount', 'Original Offered Equity', 'Season Number'
]
clean_df = df[selected_cols].copy()
clean_df['Pitchers Average Age'] = pd.to_numeric(clean_df['Pitchers Average Age'], errors='coerce')

# Export for Power BI
# Save to current directory
df.to_csv("cleaned_shark_tank_data.csv", index=False)